
ul{
	list-style-type: none;
	padding: 0
}

ul.list-item {
    margin: 35px 0;
}
ul.list-item ul {
    margin: 10px 0;
}

ul.list-item li.item{
	display: inline-block;
}

li.item {
    display: inline-block;
    font-size: 1.7em;
}

li.item:nth-child(1),
li.item:nth-child(2) {
    width: 45px;
}

li.item:nth-child(1) {
    color: #fff
}

li.item:nth-child(2) {
    text-align: center;
}